<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SortOrder</key>
	<string>cpu</string>
	<key>Threshold</key>
	<string>3.0</string>
	<key>NumProcesses</key>
	<integer>6</integer>
	<key>Iterations</key>
	<integer>3</integer>
</dict>
</plist>
